.slider-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.slide {
    position: relative;
    width: 1440px;
    height: 600px;
    /* Установите желаемую высоту слайда */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.slide h2,
.slide p {
    position: absolute;
    left: 20px;
    /* Отступ слева */
    color: white;
    /* Цвет текста */
    text-shadow: 1px 1px 2px black;
    /* Тень текста для лучшей видимости */
}

.slide h2 {
    top: 20px;
    /* Отступ сверху для заголовка */
}

.slide p {
    top: 60px;
    /* Отступ сверху для контента */
}